@use 'functions';

@import '@fontsource/poppins';
@import '@fontsource/poppins/100';
@import '@fontsource/poppins/200';
@import '@fontsource/poppins/300';
@import '@fontsource/poppins/400';
@import '@fontsource/poppins/500';
@import '@fontsource/poppins/600';
@import '@fontsource/poppins/700';
@import '@fontsource/poppins/800';
@import '@fontsource/poppins/900';

:root {
	// main color
	--accent-color: #ba3b0a;
	// dark theme color --default
	--dark-bg-color: #202020;
	--dark-text-color: #fff;
	--dark-nav-color: black;
	// light theme color
	--light-bg-color: #f6f1e9;
	--light-text-color: #000;
	--light-nav-color: white;
	// etc
	--light-gray: #b3b3b3;
	--dark-gray: #222831;
	--medium-gray: #393e46;
	--success: #33d69f;
	--warning: #ff6900;
	--error: #ff4242;
	
	--sidebar-width: 250px;
	--topbar-height: 64px;
}

body {
	font-family: 'Poppins', sans-serif;
	// dark default theme only ATM.
	background-color: var(--dark-bg-color);
	color: var(--dark-text-color);
}

::selection {
	background-color: var(--accent-color);
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 700;
	line-height: 1.4;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

h1 {
	font-size: functions.toRem(36);
}
h2 {
	font-size: functions.toRem(32);
}
h3 {
	font-size: functions.toRem(28);
}
h4 {
	font-size: functions.toRem(24);
}
h5 {
	font-size: functions.toRem(20);
}
h6 {
	font-size: functions.toRem(16);
}

p {
	font-size: functions.toRem(16);
	line-height: 1.7;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
    color: var(--accent-color);
}

select, input, button, a {
    &:focus-visible {
        outline: 2px solid var(--accent-color);
        outline-offset: 1px;
        border-radius: 3px;
    }
}

// apply to span. client can't see but browser can. improve SEO
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
}