// TODO box bg color, arrow color 통일 후 색변경 할것 너무 진함

.tippy-box[data-theme~='userMenu'] {
  background-color: var(--dark-nav-color);
  color: var(--dark-text-color);
  border-radius: 3px;
  box-shadow: 0 13px 20px rgba(0,0,0,0.3);;
}

.tippy-box[data-theme~='userMenu'].tippy-content {
  padding: 0;
  width: 200px;
  max-width: 100%;
}

.tippy-box[data-theme~='userMenu'][data-placement^='top'] > .tippy-arrow::before {
  border-top-color: var(--dark-nav-color);
}
.tippy-box[data-theme~='userMenu'][data-placement^='bottom'] > .tippy-arrow::before {
  border-bottom-color: var(--dark-nav-color);
}
.tippy-box[data-theme~='userMenu'][data-placement^='left'] > .tippy-arrow::before {
  border-left-color: var(--dark-nav-color);
}
.tippy-box[data-theme~='userMenu'][data-placement^='right'] > .tippy-arrow::before {
  border-right-color: var(--dark-nav-color);
}